target
Cargo.lock

.idea/

out.txt

*.out
*.egg-info
*.so

minecraft_nether_gen_rs/_native.py
minecraft_nether_gen_rs/_native__ffi.py
.eggs
*.pyc
dist
build
*.pyd
.eggs/milksnake-0.1.5-py3.9.egg/EGG-INFO/

examples/example

examples/example.exe
